<!--  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Tran Thanh Tung, Nguyen Trung Tin, Le Minh Tan
  ID: s3927562, s3988418, s3911653
  Acknowledgement: RMIT University, COSC2430 Course, Week 1 - 12 Lectures -->
  <%- include('partials/header') %>
	<title>About</title>
<%- include('partials/nav') %>

<main>
    <div id="form-page">
        <form novalidate>
			<div class="title">
				<h2>About</h2>
			</div>

			<div>Group 25 - Random Saigon 3</div>
			<div>
				Group members:
				<ul>
					<li>Tran Thanh Tung - s3927562 - s3927562@rmit.edu.vn</li>
					<li>Nguyen Trung Tin - s3988418 - s3988418@rmit.edu.vn</li>
					<li>Le Minh Tan - s3911653 - s3911653@rmit.edu.vn</li>
				</ul>
			</div>
        </form>
    </div>
</main>
<%- include('partials/footer') %>