<%- include('partials/header') %>
	<title>Copyright</title>
<%- include('partials/nav') %>

<main>
    <div id="form-page">
        <form novalidate>
			<div class="title">
				<h2>Copyright</h2>
			</div>

			<div>Product Images: &copy; 2023 Myntra Designs Pvt. Ltd.</div>
        </form>
    </div>
</main>
<%- include('partials/footer') %>