<!--  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Tran Thanh Tung, Nguyen Trung Tin, Le Minh Tan
  ID: s3927562, s3988418, s3911653
  Acknowledgement: RMIT University, COSC2430 Course, Week 1 - 12 Lectures -->
  <%- include('partials/header') %>
    <title>Forbidden</title>
<%- include('partials/nav') %>

<main>
    <div id="form-page">
        <form novalidate>
			<div class="title">
				<h2>Forbidden</h2>
			</div>
        </form>
    </div>
</main>
<%- include('partials/footer') %>