<%- include('partials/header') %>
    <title>Forbidden</title>
<%- include('partials/nav') %>

<main>
    <div id="form-page">
        <form novalidate>
			<div class="title">
				<h2>Forbidden</h2>
			</div>
        </form>
    </div>
</main>
<%- include('partials/footer') %>