<!--  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Tran Thanh Tung, Nguyen Trung Tin, Le Minh Tan
  ID: s3927562, s3988418, s3911653
  Acknowledgement: RMIT University, COSC2430 Course, Week 1 - 12 Lectures -->
  <%- include('partials/header') %>
    <title>Help</title>
<%- include('partials/nav') %>

<main>
    <div id="form-page">
        <form novalidate>
			<div class="title">
				<h2>Help</h2>
			</div>

            <div>
                For assistance, please <a href="https://github.com/s3927562/web/issues" target="_blank"
                    rel="noopener noreferrer">create an issue</a> on our GitHub repository or <a href="/about">email us</a>.
            </div>
        </form>
    </div>
</main>
<%- include('partials/footer') %>