<!--  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Tran Thanh Tung, Nguyen Trung Tin, Le Minh Tan
  ID: s3927562, s3988418, s3911653
  Acknowledgement: RMIT University, COSC2430 Course, Week 1 - 12 Lectures -->
  <%- include('partials/header') %>
	<title>Log In</title>
<%- include('partials/nav') %>

<main>
	<div id="form-page">
		<form action="/login" method="post" class="needs-validation" novalidate>
			<div class="title">
				<h2>Log In</h2>
			</div>

			<!-- Backend validation error -->
			<div class="text-danger hint">
				<% if (typeof error !='undefined' ) { %>
					<%= error %>
				<% } %>
			</div>

			<div class="item">
				<label for="username" class="form-label">Username</label>
				<input type="text" name="username" class="form-control" id="username" required
					placeholder="Username" minlength="8" maxlength="15" pattern="[a-zA-z0-9]+">
				<div class="invalid-feedback">Username must be 8-15 alphanumeric characters</div>
			</div>

			<div class="item">
				<label for="password" class="form-label">Password</label>
				<input type="password" name="password" class="form-control" id="password" required
					placeholder="Password" minlength="8" maxlength="20"
					pattern="^(?=[0-9a-zA-Z!@#$%^&*]{8,20}$)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z])(?=[^0-9]*[0-9])(?=[^!@#$%^&*]*[!@#$%^&*]).*">
				<div class="invalid-feedback">
					<div>Password must be 8-20 characters and contains:</div>
					<div>- At least 1 lowercase character</div>
					<div>- At least 1 uppercase character</div>
					<div>- At least 1 digit</div>
					<div>- At least 1 of the following characters !, @, #, $, %, ^, &, *</div>
					<div>- No other kinds of characters</div>
				</div>
			</div>

			<div>
				<button type="submit" class="btn btn-primary">Log In</button>
			</div>
		</form>
	</div>
</main>

<script src="/js/formValidate.js"></script>
<%- include('partials/footer') %>