<%- include('partials/header') %>
	<title>Privacy</title>
<%- include('partials/nav') %>

<main>
	<div id="form-page">
		<form novalidate>
			<div class="title">
				<h2>Privacy</h2>
			</div>

			<div>
				While we do not log, collect, or store any of your personal data,
				this website is hosted on GitHub Pages and according to <a
					href="https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages#data-collection"
					target="_blank" rel="noopener noreferrer">GitHub Docs</a>,
				your IP address is logged and stored by GitHub and is subjected to
				<a href="https://docs.github.com/en/site-policy/privacy-policies" target="_blank"
					rel="noopener noreferrer">GitHub Privacy Policies</a>.
			</div>
		</form>
	</div>
</main>
<%- include('partials/footer') %>